* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}
#calculator {
  width: 400px;
  margin: 50px auto 0 auto;
}
.display {
  width: 285px;
  height: 40px;
  border: 1px solid grey;
  float: left;
  line-height: 40px;
}
.display > p {
   margin-left: 10px;
}
.clear, span {
  float: left;
  width: 95px;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
